<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
</head>
<body>
    {% include header.html %}
    <main>
        <div class="top_section">
            <div class="top_header">
                {% unless page.disable_main_heading %} 
                    <h1>{{ page.category | replace: "-", " " | capitalize | default: "Personals" }} service {{ page.city | replace: "-", " " | capitalize | default: "India" | capitalize }}</h1>
                {% endunless %}
            </div>
            {% unless page.disable_search_bar %}
                {% include search.html %}
            {% endunless %}
            {% unless page.disable_description %}
                <div class="description">
                    <p>
                        <span class="desc_city"><strong>{{ page.category | replace: "-", " " | capitalize | default: "Personals" }}</strong></span> Service in <span class="desc_city"><strong>{{ page.city | default: "india" | replace: "-", " " | capitalize }}{% if page.state %}, {{ page.state | replace: "-", " " | capitalize }}{% endif %}</strong></span>. offers trusted and verified providers near you, delivering quality solutions with affordable pricing and flexible payment options including <strong>Cash on Delivery</strong>. Choose reliable services designed to meet your needs with ease and convenience.
                    </p>
                </div>
            {% endunless %}
        </div>
    </main>
    {% include footer.html %}
<script src="/js/main.js"></script>
</body>
</html>
