<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personals Service India</title>
    <meta name="description" content='{{ page.category | replace: "-", " " | capitalize | default: "personals" }} service in {{ page.city | default: "india" | replace: "-", " " }}{% if page.state %}, {{ page.state | replace: "-", " " }}{% endif %} - trusted and verified providers near you offering quality solutions, affordable pricing, and cash on delivery options.'>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="{{ '/assets/images/favicon/favicon.svg' | relative_url }}" type="image/svg+xml">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main class="coming_soon"></main>
</body>
</html>
