<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.category | replace: "-", " " | capitalize | default: "Personals" }} Service {{ page.city | default: "india" | capitalize }}{% if page.state %}, {{ page.state | replace: "-", " " | capitalize }}{% endif %}</title>
    <meta name="description" content='{{ page.category | replace: "-", " " | capitalize | default: "personals" }} service in {{ page.city | default: "india" | replace: "-", " " }}{% if page.state %}, {{ page.state | replace: "-", " " }}{% endif %} – trusted and verified providers near you offering quality solutions, affordable pricing, and cash on delivery options.'>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
</head>
<body>
  {% include header.html %}
  <main>
      
    {% unless page.disable_main_heading %} 
      <h1>{{ page.category | replace: "-", " " | capitalize | default: "Personals" }} service {{ page.city | replace: "-", " " | capitalize | default: "India" | capitalize }}</h1>
    {% endunless %}

    {% unless page.disable_search_bar %}
      {% include search.html %}
    {% endunless %}

    <!-- Recent Searches -->
    <div id="recent-container" style="display:none;">
      <div class="recent-header">
        <span>Recent Search</span>
        <button class="recent_reset" onclick="clearRecent()">Reset</button>
      </div>
    
      <div id="recent-chips"></div>
    </div>

    {% unless page.disable_description %}
    <div class="description">
        <p>
            <span class="desc_city"><strong>{{ page.category | replace: "-", " " | capitalize | default: "Personals" }}</strong></span> Service in <span class="desc_city"><strong>{{ page.city | default: "india" | replace: "-", " " | capitalize }}{% if page.state %}, {{ page.state | replace: "-", " " | capitalize }}{% endif %}</strong></span>. offers trusted and verified providers near you, delivering quality solutions with affordable pricing and flexible payment options including <strong>Cash on Delivery</strong>. Choose reliable services designed to meet your needs with ease and convenience.
        </p>
    </div>
    {% endunless %}
      
    {{ content }}
  </main>
  {% include footer.html %}
    
<script src="/js/main.js"></script>
</body>
</html>
